<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Assignment Details</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/favicon-16x16.png">
    <link rel="stylesheet" href="../static/bodydetails.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <div class="head">
            <div class="logo">
                <img src="../static/logoimg.png" alt="logo img" class="logo_img">
            </div>
            <!-- <div class="name">
            </div> -->
        </div>
        <nav class="navbar">
            <!-- <div class="nav_btn">
                <a href="#">About Us</a>
            </div> -->
            <div class="nav_btn" style="padding: 0.5vw 2vw;">
                <a href="/sign_up">Sign in</a>
            </div>
            <div class="nav_btn">
                <a href="https://forms.gle/QV3z1dvd1Y6QjD5d9">Reviews</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="assignment_body">
            <h2>Enter your  Assignment Body Below</h2>
        </div>
        <form action="#" method="POST" >
            <div class="bodyform">
            <textarea name="body0" placeholder="Paste/write here" class="textbox data"></textarea>
            <!-- <div class="preview_img">
                <img src="logoimg.png" alt="Preview Img" class="img_pre">
            </div> -->
            </div>
            <!-- <input type="number" name="j" style="display: none;" id="numj"> -->

            <div class="add_options">
                <div class="add_btn">
                   | Add More
                </div>
                <div class="add_btn" style="display: none;">
                   | Add Photo
                </div>
                <div class="add_btn">
                 |   Next
                </div>
            </div>
                <input type="submit" class="submit_btn">
        </form>
    </main>
    <footer>
        <div class="footer_bottom">
            <div class="foot_btn" style="padding: 0.5vw 2vw;">
                <a href="/sign_up">Sign in</a>
            </div>
            <div class="foot_social">
                <a href = "#"><i class="fa fa-facebook" id="fb"></i></a> 
                <a href = "#"><i class="fa fa-twitter"  id="twitter"></i></a>
                <a href = "#"><i class="fa fa-linkedin" id="linkedin"></i></a>
            </div>
            <div class="copyright">
               | © Copyright © TaskGod .2021 All rights reserved
            </div>
        </div>
    </footer>
</body>
<script src="../static/assignment_details.js"></script>
</html>