<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK GOD</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/favicon-16x16.png">
</head>
<body>
    <header>
        <div class="head">
            <div class="logo">
                <img src="../static/logoimg.png" alt="logo img" class="logo_img">
            </div>
            <!-- <div class="name">
            </div> -->
        </div>
        <nav class="navbar">
            <!-- <div class="nav_btn">
                <a href="#">About Us</a>
            </div> -->
            <div class="nav_btn" style="padding: 0.5vw 2vw;">
                <a href="/sign_up">Sign Up</a>
            </div>
            <div class="nav_btn">
                <a href="https://forms.gle/QV3z1dvd1Y6QjD5d9">Reviews</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="aboutus">
            <h2 class="aboutus_head">About Us</h2>
            <p class="aboutus_main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo impedit, asperiores totam vitae sed deleniti vel eum nesciunt possimus ad placeat, necessitatibus, tempora quis voluptate ea? Beatae dolore exercitationem cupiditate quos aut ducimus. Minus nemo beatae fugiat aperiam, praesentium officiis.</p>
        </div>
        <div class="make_assignment">
           <a href="details">click Here to make assignment</a> 
        </div>
    </main>
    <footer>
        <div class="footer_bottom">
            <div class="foot_btn" style="padding: 0.5vw 2vw;">
                <a href="/sign_up">Sign Up</a>
            </div>
            <div class="foot_social">
                <a href = "#"><i class="fa fa-facebook" id="fb"></i></a> 
                <a href = "#"><i class="fa fa-twitter"  id="twitter"></i></a>
                <a href = "#"><i class="fa fa-linkedin" id="linkedin"></i></a>
            </div>
            <div class="copyright">
                | © Copyright © TaskGod .2021 All rights reserved
            </div>
        </div>
    </footer>
</body>
<script src="../static/index.js"></script>
</html>