<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK GOD</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/favicon-16x16.png">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header>
        <div class="head">
            <div class="logo">
                <img src="../static/logoimg.png" alt="logo img" class="logo_img">
            </div>
            <!-- <div class="name">
            </div> -->
        </div>
    <main class="loginbox">
      <textarea name="full_name"  placeholder="Full Name" class="textbox"  ></textarea>
      <textarea name="clg_name"  placeholder="College Name" class="textbox"  ></textarea>
      <!-- <textarea name="full_name"  placeholder="Full Name" class="textbox"  ></textarea> -->
      <input type="password" name="password" class="textbox" placeholder="Password">
       <div class="add_btn">Sign Up</div>
        <div class="ifwrong">Please type valid Username/Password</div>
    </main>
    <footer>
      <div class="footer_bottom">
            <div class="foot_btn" style="padding: 0.5vw 2vw;">
                <a href="#">Sign in</a>
            </div>
            <div class="foot_social">
                <a href = "#"><i class="fa fa-facebook" id="fb"></i></a> 
                <a href = "#"><i class="fa fa-twitter"  id="twitter"></i></a>
                <a href = "#"><i class="fa fa-linkedin" id="linkedin"></i></a>
            </div>
            <div class="copyright">
                | © Copyright © TaskGod .2021 All rights reserved
            </div>
    </footer>
</body>
<script src="../static/login.js"></script>
</html>