@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #151b48;
}
header{
    /* background-color: rgb(255, 165, 165); */
    height: 4.5vw;
    position: fixed;
    top: 0;
    z-index: 3;
}
.head{
    display: inline-block;
    margin: 1vw 10vw;
}
.logo_img{
    margin: 0.2vw 0vw 0vw 0vw ;
    height: 4vw;
    border-radius: 2.5vw;
    filter: saturate(5);
    filter: hue-rotate(20);
}
.navbar{
    display: inline-block;
    width: 30vw;
    position: relative;
    top: -1.5vw;
    left: 40vw;
}
.nav_btn{
    display: inline-block;
    margin: 0vw 2vw;
    border-radius: 0.3vw;
    background-color: #23295b;
    padding: 0.5vw 1.5vw;
    border: 0.1vw solid black;
}
.nav_btn a{
    text-decoration: none;
    color: cyan;
    font-size: 1.2vw;
}
.nav_btn:hover{
    border: 0.1vw solid #f37b7b
}
.aboutus{
    width: 40vw;
    height: 20vw;
    background-color: #171d4c;
    margin: 10vw 15vw ;
    border-radius: 1vw;
    padding: 0.5vw;
    display: inline-block;
}
.aboutus_head{
    margin: 1vw 2vw;
    font-size: 2vw;
    color: cyan;
}
.aboutus_main{
    margin: 2vw 2vw;
    color: white;
}
.make_assignment{
    display: inline-block;
    margin: 0vw 0.5vw;
    border-radius: 0.3vw;
    background-color: #23295b;
    padding: 1vw 1.5vw 0.5vw 1.5vw;
    border: 0.1vw solid black;
    height: 2vw;
}
.make_assignment a{
    text-decoration: none;
    color: cyan;
    font-size: 1.2vw;
}
.make_assignment:hover{
    border: 0.1vw solid #f37b7b;
}
footer{
   margin-top: 3vw;
}
.footer_bottom{
    padding-top: 2vw;
    /* background-color: #171d4c; */
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot_btn{
    display: inline-block;
    margin: 0vw 2vw;
    border-radius: 0.3vw;
    background-color: #23295b;
    padding: 0.5vw 1.5vw;
    border: 0.1vw solid black;
}
.foot_btn a{
    text-decoration: none;
    color: cyan;
    font-size: 1.2vw;
}
.foot_btn:hover{
    border: 0.1vw solid #f37b7b
}
.foot_social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5vw ;
}
/* .foot_social a {
    padding: 0%;
} */
.foot_social a i{
    height: 2vw;
    font-size: 1.5vw;
    color: cyan;
    padding: 1vw;
}
#fb:hover{
    color: #3b5998;
}
#twitter:hover{
    color: #00acee;
}
#linkedin:hover{
    color: #0077b5;
}
.copyright{
    text-align: center;
    width: 90vw;
    font-size: 1.2vw;
    color: cyan;
}
